.lista-filmes{
    max-width: 800px; /* largura maxima*/
    margin: 14px auto;
}

.lista-filmes article{
    width: 100%; /*100% da altura de 800px*/
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes strong{
    font-size: 20px;
    text-align: center;
    margin-bottom: 14px;
    display: block; /*para poder pegar o text align*/
}

.lista-filmes img{
    width: 900px; 
    max-width: 100%;
    max-height: 340px;
    object-fit: cover; /* ajusta a imagem nas medidas*/
    display: block; /*juntou imagem e o link*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #116feb;
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.carregamento{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}